body {
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: white;
    color: #222;
    margin: 0;
}

/* 页面居中 + 两边留白 */
.container {
    max-width: 800px;
    margin: 60px auto;
    padding: 0 20px;
    background: white;
    padding: 40px;
}

/* 头部 */
.header {
    display: flex;
    align-items: center;
}

.avatar {
    width: 180px;
    margin-right: 30px;
}

.info h1 {
    margin: 0;
    font-size: 37px;
}

.title {
    margin: 2px 0;
    color: #555;
    font-size: 20px;
}

/* 图标 */
.icon {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-right: 10px;
    vertical-align: middle;
}

/* 内容区 */
.section {
    margin-top: 30px;
    font-size: 18px;
}

h2 {
    margin-top: 30px;
    color: #333;
}

/* Education 字体变小 */
.section ul {
    font-size: 14px;
    color: #444;
}

.section ul li {
    margin-bottom: 6px;
    font-size: 17px;
}

/* 论文链接 PDF */
a {
    color: #446E9B;
    /* 更深、更学术 */
    text-decoration: none;
    font-size: 18px;
    margin-left: 6px;
}

a:hover {
    text-decoration: underline;
    color: #163d7a;
}

/* 注释 */
.note {
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
}

/* News 样式 */
.news-item {
    display: flex;
    margin-bottom: 10px;
}

.news-date {
    width: 180px;
    font-weight: bold;
}

.news-text {
    flex: 1;
}

.paper-list li {
    font-size: 17px;
    line-height: 1.35;
    /* 控制内部行距（关键） */
    margin-bottom: 14px;
    /* 控制论文之间间距 */
}

.paper-list li a {
    font-weight: 750;
    /* 比 bold 稍微柔和一点 */
}
